In [22]:
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
store_data = pd.read_csv('department_store_dataset.csv')

In [24]:
store_data.head()

,Salesperson Name,Department,Revenue,Revenue Goal,Gross Profit Marget,Profit Marget Goal,Date
0,Letícia Nascimento,Eletrônicos,4263.48,1290.04,0.14,0.18,2017-01-01
1,Ana Sousa,Eletrônicos,4892.33,3636.12,0.30,0.17,2017-01-01
2,Gustavo Martins,Eletrônicos,2854.06,1307.27,0.14,0.20,2017-01-01
3,Beatriz Santos,Vestuário,218.96,1436.86,0.20,0.17,2017-01-01
4,Camila Lima,Vestuário,1161.34,2491.02,0.24,0.14,2017-01-01

In [25]:
store_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41629 entries, 0 to 41628
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Salesperson Name     41629 non-null  object
 1   Department           41629 non-null  object
 2   Revenue              41629 non-null  float64
 3   Revenue Goal         41629 non-null  float64
 4   Gross Profit Marget  41629 non-null  float64
 5   Profit Marget Goal   41629 non-null  float64
 6   Date                 41629 non-null  object
dtypes: float64(4), object(3)
memory usage: 2.2+ MB

In [26]:
store_data = store_data.rename(columns={'Gross Profit Marget': 'Gross Profit Margin', 'Profit Marget Goal': 'Profit Margin Goal'})

store_data.head()

,Salesperson Name,Department,Revenue,Revenue Goal,Gross Profit Margin,Profit Margin Goal,Date
0,Letícia Nascimento,Eletrônicos,4263.48,1290.04,0.14,0.18,2017-01-01
1,Ana Sousa,Eletrônicos,4892.33,3636.12,0.30,0.17,2017-01-01
2,Gustavo Martins,Eletrônicos,2854.06,1307.27,0.14,0.20,2017-01-01
3,Beatriz Santos,Vestuário,218.96,1436.86,0.20,0.17,2017-01-01
4,Camila Lima,Vestuário,1161.34,2491.02,0.24,0.14,2017-01-01

In [27]:
salesperson_name = store_data['Salesperson Name'].unique()

print(salesperson_name)

['Letícia Nascimento' 'Ana Sousa' 'Gustavo Martins' 'Beatriz Santos'
 'Camila Lima' 'Thiago Barbosa' 'Letícia Ribeiro' 'Enzo Nascimento'
 'Guilherme Santos' 'Vitória Ribeiro' 'Julia Araújo' 'Lucas Rodrigues'
 'Thiago Carvalho' 'Mateus Barbosa' 'Camila Carvalho' 'Diego Cardoso'
 'Jorge Santos' 'Raphael Silva' 'Caroline Reis']

In [28]:
salesperson_revenue = store_data.groupby('Salesperson Name')['Revenue','Revenue Goal'].sum().reset_index()

salesperson_revenue = salesperson_revenue.rename(columns={'Revenue': 'Total Revenue', 'Revenue Goal': 'Total Revenue Goal'})

salesperson_revenue.index = salesperson_revenue.index + 1

salesperson_revenue

C:\Users\mycho\AppData\Local\Temp\ipykernel_13596\3793941206.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  salesperson_revenue = store_data.groupby('Salesperson Name')['Revenue','Revenue Goal'].sum().reset_index()

      Salesperson Name  Total Revenue  Total Revenue Goal
1            Ana Sousa     7702639.45          7358273.20
2       Beatriz Santos     5753705.59          5608973.93
3      Camila Carvalho     8765589.89          8564016.22
4          Camila Lima     5673051.10          5524742.61
5        Caroline Reis     1260347.92          1239287.85
6        Diego Cardoso     5756049.42          5562223.62
7      Enzo Nascimento     9005932.42          8612466.25
8     Guilherme Santos     8907971.27          8553873.98
9      Gustavo Martins     7479814.35          7431991.88
10        Jorge Santos     6340905.18          6208718.05
11        Julia Araújo     8403809.29          7979920.17
12  Letícia Nascimento     7693029.06          7437131.45
13     Letícia Ribeiro     2543008.27          2443519.60
14     Lucas Rodrigues     8364971.31          8114142.76
15      Mateus Barbosa     7469350.16          7399845.01
16       Raphael Silva     1238908.36          1220546.35
17      Thiago Barbosa     2597937.29          2470020.90
18     Thiago Carvalho     8197268.88          8042448.96
19     Vitória Ribeiro     6470501.84          6168736.09

In [29]:
salesperson_revenue['Revenue Less Target']=salesperson_revenue['Total Revenue']-salesperson_revenue['Total Revenue Goal']

salesperson_revenue

      Salesperson Name  Total Revenue  Total Revenue Goal  Revenue Less Target
1            Ana Sousa     7702639.45          7358273.20            344366.25
2       Beatriz Santos     5753705.59          5608973.93            144731.66
3      Camila Carvalho     8765589.89          8564016.22            201573.67
4          Camila Lima     5673051.10          5524742.61            148308.49
5        Caroline Reis     1260347.92          1239287.85             21060.07
6        Diego Cardoso     5756049.42          5562223.62            193825.80
7      Enzo Nascimento     9005932.42          8612466.25            393466.17
8     Guilherme Santos     8907971.27          8553873.98            354097.29
9      Gustavo Martins     7479814.35          7431991.88             47822.47
10        Jorge Santos     6340905.18          6208718.05            132187.13
11        Julia Araújo     8403809.29          7979920.17            423889.12
12  Letícia Nascimento     7693029.06          7437131.45            255897.61
13     Letícia Ribeiro     2543008.27          2443519.60             99488.67
14     Lucas Rodrigues     8364971.31          8114142.76            250828.55
15      Mateus Barbosa     7469350.16          7399845.01             69505.15
16       Raphael Silva     1238908.36          1220546.35             18362.01
17      Thiago Barbosa     2597937.29          2470020.90            127916.39
18     Thiago Carvalho     8197268.88          8042448.96            154819.92
19     Vitória Ribeiro     6470501.84          6168736.09            301765.75